.button-color {
    color: white;
    background-color: black;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
}

.btn:hover {
    background-color: dimgray;
    color:white;
}

.image-position {
    width: 100%;
    height: 15vw;
    object-fit: scale-down;
    padding-top: 8px;
}
